DATABASE_URL=

APP_NAME=RAG Document Search

DEBUG=False

QDRANT_HOST=localhost
QDRANT_PORT=6333

QDRANT_COLLECTION=document_chunks

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_DIMENSION=384

LLM_API_KEY=""
LLM_BASE_URL="https://api.openai.com/v1"
LLM_MODEL="gpt-4.1-mini"
